.button {
    -fx-background-color: black;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Industrial Sans";
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-padding: 10 20 10 20;
}

.label {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Industrial Sans";
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-padding: 10.0px;
}

#usernameField, #passwordField {
    border_color: #666;
    border_hover_color: #999;
    border_disabled_color: #333;

    text_input_background_color: #111;
    background_focused_color: #fff;
    background_hover_color: #111;
    background_disabled_color: #111;

    text_color: white;
    text_focused_color: #111;
    text_disabled_color: #333;
    prompt_text_color: #777;

    highlight_color: accent_color;
    highlighted_text_color: white;

    graphic_color: #747474;
}




